<!doctype html>
<html>
	<head>
		<Title>Call Center Data</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='Styles.css') }}">
	</head>

	<body>
		<div id="wrapper">

		<header> 
			<h1>Customer Data</h1>

			<button class="hamburger" onclick="toggleMenu()">
				☰
			</button> 
			
			<nav id="navMenu">
				<a href="/">Home</a>
				<a href="/show">Customer List</a>
				<a href="/sentiment">Customer Sentiment</a>
				<a href="/search">Customer Search</a>
			</nav>
		</header>

	<main>
		<h2>Customer Index</h2>

		<table>
			<thead>
				<tr>
					{% for column in rows[0].keys() %}
                		<th>{{ column }}</th>
            		{% endfor %}
				</tr>
			</thead>

			<tbody>
				{% for row in rows %}
				<tr>
					{% for value in row.values() %}
						<td>{{ value }}</td>
					{% endfor %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="pagination">

			{% if current_page > 1 %}
				<a href="/show?page={{ 1 }}"><<</a>
			{% endif %}


			{% if current_page > 1 %}
				<a href="/show?page={{ current_page - 1 }}"><</a>
			{% endif %}


			Page {{ current_page }} of {{ total_pages }}


			{% if current_page < total_pages %}
				<a href="/show?page={{ current_page + 1 }}">></a>
			{% endif %}

			{% if current_page < total_pages %}
				<a href="/show?page={{ [current_page + 5, total_pages] | min }}">>></a>
			{% endif %}
			
		</div>
	</main>

	<footer>
	</footer>
	
		</div>

		<script>
		function toggleMenu() {
    		document.getElementById("navMenu").classList.toggle("show");
		}
		</script>
	</body>
</html>